services:
  duck-ui:
    image: ghcr.io/caioricciuti/duck-ui:latest
    restart: always
    ports:
      - "${DUCK_UI_PORT:-5522}:5522"
    environment:
      # External connection (optional)
      - DUCK_UI_EXTERNAL_CONNECTION_NAME=${DUCK_UI_EXTERNAL_CONNECTION_NAME:-}
      - DUCK_UI_EXTERNAL_HOST=${DUCK_UI_EXTERNAL_HOST:-}
      - DUCK_UI_EXTERNAL_PORT=${DUCK_UI_EXTERNAL_PORT:-}
      - DUCK_UI_EXTERNAL_USER=${DUCK_UI_EXTERNAL_USER:-}
      - DUCK_UI_EXTERNAL_PASS=${DUCK_UI_EXTERNAL_PASS:-}
      - DUCK_UI_EXTERNAL_DATABASE_NAME=${DUCK_UI_EXTERNAL_DATABASE_NAME:-}
      # DuckDB configuration
      - DUCK_UI_ALLOW_UNSIGNED_EXTENSIONS=${DUCK_UI_ALLOW_UNSIGNED_EXTENSIONS:-false}